<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li:nth-child(odd) {
            font-weight: bold;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const titleInput = document.querySelector("#titleInput")
            const createButton = document.querySelector("#createButton")
            const todoList = document.querySelector("#todoList")

            createButton.addEventListener('click', () => {
                const newTodoItem = document.createElement("li");
                newTodoItem.innerText = titleInput.value;
                todoList.appendChild(newTodoItem);
            })

            //Für die Prüfung (DOM)
            document.createElement("ul").innerText = titleInput.value;
            //document.querySelector('#titleInput').remove();
            const test = document.querySelector("#todoList");
            test.innerHTML = "Neger";
            test.innerText = "NEGER"

            let p = document.createElement('p');
            p.appendChild(document.createTextNode('Hello, '));

            let em = document.createElement('em');
            em.appendChild(document.createTextNode('World'));
            p.appendChild(em);

            p.appendChild(document.createTextNode('!'));
            document.getElementById('todoList').appendChild(p);
        })
    </script>
</head>
<body>
    <input type="text" id="titleInput" name="title" />
    <button id="createButton">Erstellen</button>
    <ul id="todoList">
    </ul>
</body>
</html>